.DS_Store
.dart_tool/

.packages
.pub/

build/
android/.cxx/ndk_locator_record_1l4r3h4e_key.json
android/.cxx/ndk_locator_record_1l4r3h4e.log
android/.cxx/ndk_locator_record_1l4r3h4e.json
android/.cxx/cmake/debug/arm64-v8a/rules.ninja
android/.cxx/cmake/debug/arm64-v8a/prefab_config.json
android/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
android/.cxx/cmake/debug/arm64-v8a/compile_commands.json
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/rune_vm_loader.dir/Users/geerttrooskens/dev/src/runevm_fl/cpp/runic.cpp.o
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/rune_vm_loader.dir/jni.cpp.o
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.cxx
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.c
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.bin
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/CMakeOutput.log
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/cmake.check_cache
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
android/.cxx/cmake/debug/arm64-v8a/CMakeCache.txt
android/.cxx/cmake/debug/arm64-v8a/cmake_server_log.txt
android/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
android/.cxx/cmake/debug/arm64-v8a/build_output.txt
android/.cxx/cmake/debug/arm64-v8a/build_model.json
android/.cxx/cmake/debug/arm64-v8a/build_command.txt
android/.cxx/cmake/debug/arm64-v8a/build.ninja
android/.cxx/cmake/debug/arm64-v8a/android_gradle_build_rune_vm_loader_arm64-v8a.stdout.txt
android/.cxx/cmake/debug/arm64-v8a/android_gradle_build_rune_vm_loader_arm64-v8a.stderr.txt
android/.cxx/cmake/debug/arm64-v8a/android_gradle_build_rune_vm_loader_arm64-v8a.command.txt
android/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
android/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
android/.cxx/cmake/debug/arm64-v8a/.ninja_log
android/.cxx/cmake/debug/arm64-v8a/.ninja_deps
android/.cxx/abi_configuration_54116u2d_key.json
android/.cxx/abi_configuration_54116u2d.log
android/.cxx/abi_configuration_54116u2d.json
android/.cxx/abi_configuration_3f421w4c_key.json
android/.cxx/abi_configuration_3f421w4c.log
android/.cxx/abi_configuration_3f421w4c.json
android/.cxx/cmake/release/arm64-v8a/cmake_server_log.txt
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeOutput.log
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/.ninja_deps
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/.ninja_log
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/build.ninja
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/cmake_install.cmake
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/CMakeCache.txt
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/CMakeFiles/cmake.check_cache
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_1ee37.dir/testCXXCompiler.cxx-f503361f.o.tmp
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/CMakeFiles/TargetDirectories.txt
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/CMakeLists.txt
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/rules.ninja
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/testCXXCompiler.cxx
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.bin
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.c
android/.cxx/cmake/release/arm64-v8a/.ninja_deps
android/.cxx/cmake/release/arm64-v8a/.ninja_log
android/.cxx/cmake/release/arm64-v8a/android_gradle_build.json
android/.cxx/cmake/release/arm64-v8a/android_gradle_build_mini.json
android/.cxx/cmake/release/arm64-v8a/android_gradle_build_rune_vm_loader_arm64-v8a.command.txt
android/.cxx/cmake/release/arm64-v8a/android_gradle_build_rune_vm_loader_arm64-v8a.stderr.txt
android/.cxx/cmake/release/arm64-v8a/android_gradle_build_rune_vm_loader_arm64-v8a.stdout.txt
android/.cxx/cmake/release/arm64-v8a/build.ninja
android/.cxx/cmake/release/arm64-v8a/build_command.txt
android/.cxx/cmake/release/arm64-v8a/build_model.json
android/.cxx/cmake/release/arm64-v8a/build_output.txt
android/.cxx/cmake/release/arm64-v8a/cmake_install.cmake
android/.cxx/cmake/release/arm64-v8a/CMakeCache.txt
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/cmake.check_cache
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.cxx
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/rune_vm_loader.dir/jni.cpp.o
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/rune_vm_loader.dir/Users/geerttrooskens/dev/src/runevm_fl/cpp/runic.cpp.o
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/.cxx/cmake/release/arm64-v8a/compile_commands.json
android/.cxx/cmake/release/arm64-v8a/json_generation_record.json
android/.cxx/cmake/release/arm64-v8a/prefab_config.json
android/.cxx/cmake/release/arm64-v8a/rules.ninja
