.DS_Store
.dart_tool/

.packages
.pub/

build/
.cxx/
android/.cxx/
ios/build-ios-rel/
extern/master/
extern/rune_vm/
android/build-android-rel-arm64-v8a/
web_new/lib/assets/rune.js
web_new/lib/assets/rune.js.map
web_new/node_modules/.bin/tsc
web_new/node_modules/.bin/tsserver
web_new/node_modules/@hotg-ai/rune/builtin/index.d.ts
web_new/node_modules/@hotg-ai/rune/builtin/index.js
web_new/node_modules/@hotg-ai/rune/builtin/RandomCapability.d.ts
web_new/node_modules/@hotg-ai/rune/builtin/RandomCapability.js
web_new/node_modules/@hotg-ai/rune/builtin/WebcamCapability.d.ts
web_new/node_modules/@hotg-ai/rune/builtin/WebcamCapability.js
web_new/node_modules/@hotg-ai/rune/facade.d.ts
web_new/node_modules/@hotg-ai/rune/facade.js
web_new/node_modules/@hotg-ai/rune/index.d.ts
web_new/node_modules/@hotg-ai/rune/index.js
web_new/node_modules/@hotg-ai/rune/LICENSE_APACHE.md
web_new/node_modules/@hotg-ai/rune/LICENSE_MIT.md
web_new/node_modules/@hotg-ai/rune/package.json
web_new/node_modules/@hotg-ai/rune/README.md
web_new/node_modules/@hotg-ai/rune/Runefile.d.ts
web_new/node_modules/@hotg-ai/rune/Runefile.js
web_new/node_modules/@hotg-ai/rune/Runtime.d.ts
web_new/node_modules/@hotg-ai/rune/Runtime.js
web_new/node_modules/@hotg-ai/rune/Runtime.test.d.ts
web_new/node_modules/@hotg-ai/rune/Runtime.test.js
web_new/node_modules/@hotg-ai/rune/Shape.d.ts
web_new/node_modules/@hotg-ai/rune/Shape.js
web_new/node_modules/@hotg-ai/rune/Shape.test.d.ts
web_new/node_modules/@hotg-ai/rune/Shape.test.js
web_new/node_modules/@hotg-ai/rune/Tensor.d.ts
web_new/node_modules/@hotg-ai/rune/Tensor.js
web_new/node_modules/typescript/AUTHORS.md
web_new/node_modules/typescript/bin/tsc
web_new/node_modules/typescript/bin/tsserver
web_new/node_modules/typescript/CODE_OF_CONDUCT.md
web_new/node_modules/typescript/CopyrightNotice.txt
web_new/node_modules/typescript/lib/cancellationToken.js
web_new/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/de/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/es/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/it/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/lib.d.ts
web_new/node_modules/typescript/lib/lib.dom.d.ts
web_new/node_modules/typescript/lib/lib.dom.iterable.d.ts
web_new/node_modules/typescript/lib/lib.es2015.collection.d.ts
web_new/node_modules/typescript/lib/lib.es2015.core.d.ts
web_new/node_modules/typescript/lib/lib.es2015.d.ts
web_new/node_modules/typescript/lib/lib.es2015.generator.d.ts
web_new/node_modules/typescript/lib/lib.es2015.iterable.d.ts
web_new/node_modules/typescript/lib/lib.es2015.promise.d.ts
web_new/node_modules/typescript/lib/lib.es2015.proxy.d.ts
web_new/node_modules/typescript/lib/lib.es2015.reflect.d.ts
web_new/node_modules/typescript/lib/lib.es2015.symbol.d.ts
web_new/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
web_new/node_modules/typescript/lib/lib.es2016.array.include.d.ts
web_new/node_modules/typescript/lib/lib.es2016.d.ts
web_new/node_modules/typescript/lib/lib.es2016.full.d.ts
web_new/node_modules/typescript/lib/lib.es2017.d.ts
web_new/node_modules/typescript/lib/lib.es2017.full.d.ts
web_new/node_modules/typescript/lib/lib.es2017.intl.d.ts
web_new/node_modules/typescript/lib/lib.es2017.object.d.ts
web_new/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
web_new/node_modules/typescript/lib/lib.es2017.string.d.ts
web_new/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
web_new/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
web_new/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
web_new/node_modules/typescript/lib/lib.es2018.d.ts
web_new/node_modules/typescript/lib/lib.es2018.full.d.ts
web_new/node_modules/typescript/lib/lib.es2018.intl.d.ts
web_new/node_modules/typescript/lib/lib.es2018.promise.d.ts
web_new/node_modules/typescript/lib/lib.es2018.regexp.d.ts
web_new/node_modules/typescript/lib/lib.es2019.array.d.ts
web_new/node_modules/typescript/lib/lib.es2019.d.ts
web_new/node_modules/typescript/lib/lib.es2019.full.d.ts
web_new/node_modules/typescript/lib/lib.es2019.object.d.ts
web_new/node_modules/typescript/lib/lib.es2019.string.d.ts
web_new/node_modules/typescript/lib/lib.es2019.symbol.d.ts
web_new/node_modules/typescript/lib/lib.es2020.bigint.d.ts
web_new/node_modules/typescript/lib/lib.es2020.d.ts
web_new/node_modules/typescript/lib/lib.es2020.full.d.ts
web_new/node_modules/typescript/lib/lib.es2020.intl.d.ts
web_new/node_modules/typescript/lib/lib.es2020.promise.d.ts
web_new/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
web_new/node_modules/typescript/lib/lib.es2020.string.d.ts
web_new/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
web_new/node_modules/typescript/lib/lib.es2021.d.ts
web_new/node_modules/typescript/lib/lib.es2021.full.d.ts
web_new/node_modules/typescript/lib/lib.es2021.intl.d.ts
web_new/node_modules/typescript/lib/lib.es2021.promise.d.ts
web_new/node_modules/typescript/lib/lib.es2021.string.d.ts
web_new/node_modules/typescript/lib/lib.es2021.weakref.d.ts
web_new/node_modules/typescript/lib/lib.es5.d.ts
web_new/node_modules/typescript/lib/lib.es6.d.ts
web_new/node_modules/typescript/lib/lib.esnext.d.ts
web_new/node_modules/typescript/lib/lib.esnext.full.d.ts
web_new/node_modules/typescript/lib/lib.esnext.intl.d.ts
web_new/node_modules/typescript/lib/lib.esnext.promise.d.ts
web_new/node_modules/typescript/lib/lib.esnext.string.d.ts
web_new/node_modules/typescript/lib/lib.esnext.weakref.d.ts
web_new/node_modules/typescript/lib/lib.scripthost.d.ts
web_new/node_modules/typescript/lib/lib.webworker.d.ts
web_new/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
web_new/node_modules/typescript/lib/lib.webworker.iterable.d.ts
web_new/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/protocol.d.ts
web_new/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/README.md
web_new/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/tsc.js
web_new/node_modules/typescript/lib/tsserver.js
web_new/node_modules/typescript/lib/tsserverlibrary.d.ts
web_new/node_modules/typescript/lib/tsserverlibrary.js
web_new/node_modules/typescript/lib/typescript.d.ts
web_new/node_modules/typescript/lib/typescript.js
web_new/node_modules/typescript/lib/typescriptServices.d.ts
web_new/node_modules/typescript/lib/typescriptServices.js
web_new/node_modules/typescript/lib/typesMap.json
web_new/node_modules/typescript/lib/typingsInstaller.js
web_new/node_modules/typescript/lib/watchGuard.js
web_new/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
web_new/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
web_new/node_modules/typescript/LICENSE.txt
web_new/node_modules/typescript/loc/lcl/CHS/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/CHS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/CHS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/CHS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/CHT/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/CHT/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/CHT/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/CHT/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/CSY/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/CSY/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/CSY/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/CSY/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/DEU/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/DEU/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/DEU/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/DEU/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/ESN/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/ESN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/ESN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/ESN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/FRA/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/FRA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/FRA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/FRA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/ITA/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/ITA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/ITA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/ITA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/JPN/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/JPN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/JPN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/JPN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/KOR/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/KOR/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/KOR/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/KOR/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/PLK/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/PLK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/PLK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/PLK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/PTB/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/PTB/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/PTB/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/PTB/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/RUS/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/RUS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/RUS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/RUS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/loc/lcl/TRK/Targets/ProjectItemsSchema.xaml.lcl
web_new/node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptCompile.xaml.lcl
web_new/node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptProjectProperties.xaml.lcl
web_new/node_modules/typescript/loc/lcl/TRK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
web_new/node_modules/typescript/loc/lcl/TRK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
web_new/node_modules/typescript/loc/lcl/TRK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
web_new/node_modules/typescript/package.json
web_new/node_modules/typescript/README.md
web_new/node_modules/typescript/SECURITY.md
web_new/node_modules/typescript/ThirdPartyNoticeText.txt
web_new/package-lock.json
web_new/rune.ts
web_new/tsconfig.json
